.navbar-background-color {
    background-color: #36494e;
}
.header-margin-left {
    margin-left: 15px;
}
.header-margin-right {
    margin-right: 15px;
}
.header {
    grid-column: span 2;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(235, 237, 240);
    display: grid;
    grid-template-columns: auto 1fr;
}
