.wrapper .sidebar {
    background-color: #36494e;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    transition: all 0.5s ease;
}
.sidebar-root {
    overflow: hidden;
}
.sidebar-root:hover {
    overflow-y: auto;
}
.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 2px solid #597081;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #0c7db1;
    background: white;
    border-right: 2px solid #597081;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}
.sidebar {
    overflow: hidden;
}
